    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-3 col-lg-2 d-md-block sidebar">
                <div class="top">
                    <h3 id="dashboard">Dashboard</h3>
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                </div>
                <ul class="nav flex-column allTasks">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#" id="today">
                            <i class="fa-solid fa-map" aria-hidden="true"></i>
                            Today
                        </a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#" id="tomo">
                            <i class="fa-regular fa-clock" aria-hidden="true" ></i>
                            Tomorrow
                        </a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#" id="thisWeek">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            This week
                        </a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#" id="planned">
                            <i class="fa-solid fa-book" aria-hidden ="true"></i>
                            Planned
                        </a>
                    </li> -->


                 

                    <li class="nav-item">
                        <a class="nav-link" href="#" id="showAll" (click)="filterTasks('')">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            Show All
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" id="completed" (click)="filterTasks('Completed')">
                            <i class="fa-solid fa-clipboard" aria-hidden="true"></i>
                            Completed
                        </a>
                    </li>
                    
                </ul>
            </nav>
            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-4 main">
                <!-- Create Modal -->
                <div bsModal #createModal="bs-modal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-success add-modal" role="document">
                        <div class="modal-content add-modal">
                            <div class="modal-header add-modal-header m-0 p-2">
                                <h6 class="modal-title d-flex justify-content-center">Add Task</h6>
                                <button type="button" class="close btn m-0 p-0" (click)="createModal.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body add-modal">
                                <form [formGroup]="createRecordForm">
                                    <div class="mb-3 row">
                                        <label for="title" class="col-sm-4 col-form-label">Title:</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="title" class="form-control" formControlName="title" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="description" class="col-sm-4 col-form-label">Description:</label>
                                        <div class="col-sm-8">
                                            <textarea id="description" class="form-control" formControlName="description" required></textarea>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="priority" class="col-sm-4 col-form-label">Priority Level:</label>
                                        <div class="col-sm-8">
                                            <select id="priority" class="form-select" formControlName="priority" required>
                                                <option value="High">High</option>
                                                <option value="Medium">Medium</option>
                                                <option value="Low">Low</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="dueDate" class="col-sm-4 col-form-label">Due Date:</label>
                                        <div class="col-sm-8">
                                            <input type="date" id="dueDate" class="form-control" formControlName="dueDate" required>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer d-flex justify-content-center add-modal-footer">
                                <button type="submit" (click)="createRecord()" class="btn btn-create col-md-4">Save</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <!-- Edit Modal -->
                <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-success" role="document">
                        <div class="modal-content add-modal">
                            <div class="modal-header m-0 p-2">
                                <h6 class="modal-title">Edit Task</h6>
                                <button type="button" class="close btn m-0 p-0" (click)="editModal.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body add-modal">
                                <form [formGroup]="editRecordForm">
                                    <div class="mb-3 row">
                                        <label for="title" class="col-sm-4 col-form-label">Title:</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="title" class="form-control" formControlName="title" required>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="description" class="col-sm-4 col-form-label">Description:</label>
                                        <div class="col-sm-8">
                                            <textarea id="description" class="form-control" formControlName="description" required></textarea>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="priority" class="col-sm-4 col-form-label">Priority Level:</label>
                                        <div class="col-sm-8">
                                            <select id="priority" class="form-select" formControlName="priority" required>
                                                <option value="High">High</option>
                                                <option value="Medium">Medium</option>
                                                <option value="Low">Low</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="dueDate" class="col-sm-4 col-form-label">Due Date:</label>
                                        <div class="col-sm-8">
                                            <input type="date" id="dueDate" class="form-control" formControlName="dueDate" required>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer d-flex justify-content-center add-modal-footer">
                                <button type="button" class="btn btnClose" (click)="editModal.hide()">Close</button>
                                <button type="button" class="btn btnEdit" (click)="saveEditRecord()">Save</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <!-- Main Content -->
                <div class="animated fadeIn content ">
                    <div class="card bg-modal" >
                        <div class="card-header">
                            <strong>Create New Task</strong>
                            <span class="pointer float-end" (click)="back_btn()">
                                <span class="fa fa-arrow-left"></span>
                                &nbsp;<b>Back</b>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-2">
                                    <button type="button" id="btn-add-new" class="btn" (click)="createModal.show()">
                                        <i class="fa fa-plus"></i> Add New
                                    </button>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-12">
                            <div class="records-container" *ngIf="records.length > 0">
                                <h3>Tasks</h3>
                                <div class="custom-grid">
                                <div class="col" *ngFor="let record of filteredRecords; let i = index"
                                    [ngClass]="{
                                        'high-priority': record.priority === 'High',
                                        'medium-priority': record.priority === 'Medium',
                                        'low-priority': record.priority === 'Low',
                                        'completed-task': record.status === 'Completed',
                                        'pending-task': record.status === 'Pending'
                                    }">
            
                                    <div class="tasks-added">
                                        <p>
                                            <span [ngClass]="{'completed-icon': record.status === 'Completed', 'pending-icon': record.status === 'Pending'}"></span>
                                            Title: {{ record.title }}
                                        </p>
                                        <p><strong>Descriptions:</strong>{{record.description}}</p>
                                        <p><strong>Priority:</strong>{{record.priority}}</p>
                                        <p><strong>Due Date:</strong>{{record.dueDate}}</p>
                                        <p><strong>Status:</strong>{{record.status}}</p>
                                        <br>
                                        <div>
                                            <button id="btn" class="text-success me" (click)="toggleStatus(record)"><i class="fa-solid fa-toggle-on"></i></button>
                                            <button id="btn" class="text-dark me" (click)="editRecord(record.id, i)"><i class="fa fa-pencil"></i></button>
                                            <button id="btn" class="text-danger" (click)="deleteRecord(i)"> <i class="fa fa-trash "></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>
                            </div>
                        </div>
                        </div>
                </div>
            </main>
        </div>
    </div>


